language: go
go:
  - 1.6
  - 1.7

before_install:
  - go get github.com/golang/lint/golint

install:
  - go build -v ./...

script:
  - make check
  - make test
  - make all

after_success:
  - bash <(curl -s https://codecov.io/bash)
